.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'navigation_bar main main main'
    'navigation_bar main main main'
    'footer footer footer footer';        
    background-color: #f1f1f1;
}
body{
    margin: 0% 0%;
}

.header{
    grid-area: header;
    height: 10vh;
    font-size: 25px;
    color: #f1f1f1;
    text-align: center;
    background-color: #000;
}  

.navigation_bar{
    grid-area: navigation_bar;
    height: 80vh;
    font-size: 25px;
    color: #000;
    background-color: #f1f1f1;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    
}

.navigation_bar > ul{
    overflow: auto;
}

li > a {
    display: block; 
    padding: 8px 16px;
    text-decoration: none;
}

li > a.active {
    background-color: #2196F3;
    color: white;
}

li > a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.main{
    grid-area: main;
    height: 80vh;
    background-color: #f1f1f1;
    font-size: 25px;
}

.footer{
    grid-area: footer;
    height: 10vh;
    font-size: 25px;       
    color: #f1f1f1;
    background-color: #000;
}

.footer > ul > li{
    float: left;
}
